<div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Caller Information</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                  	<p class="mb-0">FromZip: <b id="FromZip"></b></p>
					<p class="mb-0">From: <b id="From"></b></p>
					<p class="mb-0">FromCity: <b id="FromCity"></b></p>
					<p class="mb-0">ApiVersion: <b id="ApiVersion"></b></p>
					<p class="mb-0">To: <b id="To"></b></p>
					<p class="mb-0">CallStatus: <b id="CallStatus"></b></p>
					<p class="mb-0">CalledState: <b id="CalledState"></b></p>
					<p class="mb-0">FromState: <b id="FromState"></b></p>
					<p class="mb-0">Direction: <b id="Direction"></b></p>
					<p class="mb-0">SequenceNumber: <b id="SequenceNumber"></b></p>
					<p class="mb-0">ToCity: <b id="ToCity"></b></p>
					<p class="mb-0">ToZip: <b id="ToZip"></b></p>
					<p class="mb-0">UnstableSpeechResult: <b id="UnstableSpeechResult"></b></p>
					<p class="mb-0">CallerCity: <b id="CallerCity"></b></p>
					<p class="mb-0">FromCountry: <b id="FromCountry"></b></p>
					<p class="mb-0">Language: <b id="Language"></b></p>
					<p class="mb-0">CalledCity: <b id="CalledCity"></b></p>
					<p class="mb-0">CalledCountry: <b id="CalledCountry"></b></p>
					<p class="mb-0">Caller: <b id="Caller"></b></p>
					<p class="mb-0">CallerZip: <b id="CallerZip"></b></p>
					<p class="mb-0">AccountSid: <b id="AccountSid"></b></p>
					<p class="mb-0">Called: <b id="Called"></b></p>
					<p class="mb-0">CallerCountry: <b id="CallerCountry"></b></p>
					<p class="mb-0">CalledZip: <b id="CalledZip"></b></p>
					<p class="mb-0">CallSid: <b id="CallSid"></b></p>
					<p class="mb-0">StableSpeechResult: <b id="StableSpeechResult"></b></p>
					<p class="mb-0">Stability: <b id="Stability"></b></p>
					<p class="mb-0">CallerState: <b id="CallerState"></b></p>
					<p class="mb-0">ToCountry: <b id="ToCountry"></b></p>
					<p class="mb-0">ToState: <b id="ToState"></b></p>
                </div>
            </div>
<script type="text/javascript">
       var ws = new WebSocket("ws://localhost:5000/echo");
       ws.onopen = function() {
           //alert("OPEN");
           return
       };
       ws.onclose = function(evt) {
           //alert("AYYO");
           return
       };
       ws.onmessage = function(evt) {
          var obj = JSON.parse(evt.data);
          //console.log(obj);
          for (var i = 0; i < obj.length; i++) {
              // Iterate over numeric indexes from 0 to 5, as everyone expects.
              //console.log(obj[i][0]);
              if (obj[i][0] === "callTime"){
              	document.getElementById(obj[i][0]).innerHTML = String(Math.floor(Date.now() / 1000) - parseInt(obj[i][1]));
              	console.log("AYYYYOOOO");
              } else {
              document.getElementById(obj[i][0]).innerHTML = obj[i][1];
          }
          }

       };
    </script>
